@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e0f7fa;
}
.title-holder{
  background-color: #A294F9;
  height: 70px;
  align-content: center;
}
.leftcontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}
.middleman{
  justify-content: center;
  flex: 1;
  
}